<div id="<%= dom_id post %>" class="card mb-3">
  <div class="card-body">
    <% if post.image.attached? %>
      <%= image_tag post.image, class: "img-fluid" %>
    <% end %>

    <h5 class="card-title"><%= post.title %></h5>
    <p class="card-text"><%= post.description %></p>
  </div>
</div>